#fullCalendar {
    width: 100%;
    
    border-collapse: collapse;
    overflow: hidden;
}

#fullCalendar thead th {
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
    max-width: 30px;
    min-width: 5px;
    
    font-weight: bold;
    font-size: 11px;
    
}

#fullCalendar thead th.month-label {
    border: 0px;
    font-size: 20px;
}

#fullCalendar tbody td:nth-child(1), #fullCalendar thead th:nth-child(1){
    font-size: 9px;
    font-weight: normal;
    vertical-align: bottom;
    text-align: right;
    border: none;
}

#fullCalendar tbody td:nth-child(2) {    
    border-left: none;
    border-bottom: none;
    width: 6px;
    max-width: 6px;
    min-width: 6px;
}

#fullCalendar tbody td.hour, #fullCalendar thead th.hour {
    max-width: 24px;
    min-width: 24px;
    width: 24px;
}

#fullCalendar tbody td.hour .hour-text, #fullCalendar thead th.hour .hour-text {
    position: relative;
    top: 6.5px;
}

#fullCalendar tbody td {
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
    max-width: 50px;
    min-width: 25px;
    font-weight: bold;
    font-size: 11px;
    
}

#fullCalendar tbody td div {    
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}

#fullCalendar td.empty, #fullCalendar th.empty {
    border: none;
}

#fullCalendar td .note {
    position: relative;
    font-size: 8px;
}

#fullCalendar tbody td.day-sum {
    border-top: 3px double black;
}

#fullCalendar .weekend {
    background-color: lightgray;
}

#fullCalendar .overlay {
    position: absolute;
    visibility: hidden;
    background-color: #9FDAEE;
    border: 1px solid #2BB0D7;
    border-radius: 6px;
    font-size: 16px;
    z-index: 10;
    text-align: left;
    padding: 5px;
    width: 500px;
    white-space: pre-line;
    top:-15px;
    
}

#fullCalendar .note:hover .overlay {
    visibility: visible;
}